body {
    background-image: url(cat1.jpg);
    background-size: cover;
}

.navbar {
    text-decoration: none;
    background-color: #14213d;
    font-family: cursive;
    padding-right: 15px;
    padding-left: 15px;
    border: #fca311 4px solid;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: #e5e5e5;
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

button {
    background-color: #fca311;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a {
    color: #023047;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.main1 {
    color: #e5e5e5;
    margin-top: 10px;
    margin-left: 10px;
}

.fff {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 390px;


}

.mainphoto {
    border-radius: 20px;
    margin: 5px;
    border: 2px #fca311 solid;
    height: 150px;

}

.main2 {
    display: flex;
    flex-direction: row;
}

.what-we-offer {
    border: 2px solid #fca311;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    color: #023047;
    line-height: 1.6;
    width: 400px;
    font-weight: 700;
}

.what-we-offer h2 {
    color: #e5e5e5;
    margin-bottom: 10px;
}

.what-we-offer ul {
    list-style: none;
    padding: 0;
}

.what-we-offer ul li {
    color: #fca311;
    margin: 5px 0;
    padding-left: 20px;

}
.what-we-offer ul li section{
color: #e5e5e5;
}
.main3{
        display: flex;
        flex-direction: row;

}
.what-we-offer dd dt h2 {
    opacity: 100%;
    color: #e5e5e5;
    margin-bottom: 10px;
}

.what-we-offer dl {
    list-style: none;
    padding: 0;
    color: #fca311;
    margin: 5px 0;
    padding-left: 20px;

}
 .footer{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color:#023047 ;
    height: fit-content;
    text-align: center;
    border: 2px solid #fca311;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-weight: 700;
    
 }
 .links a{
    font-size: large;
    color: #fca311;
    text-decoration: none;
    margin: 5px;

 }
 .contact a{
    font-size: large;
    color: #fca311;
    text-decoration: none;
    margin: 5px;
 }
 .footer p{
    color: #e5e5e5;
    margin: 5px;
 }