body {
    background-color: #023047;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.navbarr {
    background-color: #14213d;
    font-family: cursive;
    padding: 5px;
    border: #fca311 4px solid;
}

.navdivv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logoo {
    font-size: 35px;
    font-weight: 600;
    color: #e5e5e5;
    text-decoration: none;
}

.nav-element-1 li {
    list-style: none;
    display: inline-block;
}

.nav-element-1 li a {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}
.buttonn {
    background-color: #fca311;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    color: #023047;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: cursive;
    text-align: center;
}