body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.navbarr {
    text-decoration: none;
    background-color: #14213d;
    font-family: cursive;
    padding: 5px;
    border: #fca311 4px solid;
}
.navdivv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoo {
    font-size: 35px;
    font-weight: 600;
    color: #e5e5e5;
    text-decoration: none;
}
li {
    list-style: none;
    display: inline-block;
}
li a {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}
.element2{
    background-color:#14213d;
    color: #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;  
}

.buttonn {
    background-color: #fca311;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    color: #023047;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: cursive;
}
h1 {
    color: #fca311;
    text-align: center;
    font-family: cursive;
}

.main-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

form {
    margin-left: 20px;
}

form h3 {
    color: #fca311;
    font-family: cursive;
}

form label {
    color: #e5e5e5;
}

.vertical-line {
    width: 2px;
    height: auto;
    background-color: #fca311;
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
    height: fit-content;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 800px;
}

.content.expanded {
    max-height: 2000px;
}

.cat-info {
    border: 2px solid #fca311;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.cat-info img {
    width: 100%;
    height: auto;
}

.see-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #023047;
    background-color: #fca311;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.see-more-btn:hover {
    background-color: #fca311;
}
h3{
    color: #fca311;
}
.cat-info a{
    text-decoration: none;
}
.cat-info span{
    color: #e5e5e5;
}
.cat-info p{
    color: #fca311;
}