body {
    background-color: #023047;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.navbarr {
    background-color: #14213d;
    font-family: cursive;
    padding: 5px;
    border: #fca311 4px solid;
}

.navdivv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logoo {
    font-size: 35px;
    font-weight: 600;
    color: #e5e5e5;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logoo img {
    margin-right: 10px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

.element2 {
    background-color: #14213d;
    color: #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
    border: none;
}

.buttonn {
    background-color: #fca311;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    color: #023047;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: cursive;
    text-align: center;
}

h1 {
    color: #fca311;
    text-align: center;
    font-family: cursive;
}

.main-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

form {
    margin-left: 20px;
}

form h3 {
    color: #fca311;
    font-family: cursive;
}

form label {
    color: #e5e5e5;
}

.vertical-line {
    width: 2px;
    height: auto;
    background-color: #fca311;
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
    height: fit-content;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 770px;
}

.content.expanded {
    max-height: 1200px;
}

.cat-info {
    border: 2px solid #fca311;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.cat-info img {
    width: 100%;
    height: auto;
}

.see-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #023047;
    background-color: #fca311;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.see-more-btn:hover {
    background-color: #fca311;
}
h3{
    color: #fca311;
}
.cat-info a{
    text-decoration: none;
}
.cat-info span{
    color: #e5e5e5;
}
.cat-info p{
    color: #fca311;
}
.A1-2{
    display: flex;
    flex-direction: column;
}




table {
    width: 100%;
    border-collapse:collapse;
    font-family: Arial, sans-serif;
}
 td {
    padding: 12px;
    text-align: left;
    border: 2px solid #fca311;
    color: #e5e5e5;
}
th {
    color: #14213d;
    background-color: #fca311;
    font-weight: bold;
}
.first{
    color: #fca311;
}
td:hover{
    background-color: #e5e5e5;
    color: #14213d;
 transform: scale(1.02);   
}
.first:hover{
    background-color: #fca311;
    color: #e5e5e5;
}