body {
    background-color: #023047;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.navbarr {
    background-color: #14213d;
    font-family: cursive;
    padding: 5px;
    border: #fca311 4px solid;
}

.navdivv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logoo {
    font-size: 35px;
    font-weight: 600;
    color: #e5e5e5;
    text-decoration: none;
}

.nav-element-1 li {
    list-style: none;
    display: inline-block;
}

.nav-element-1 li a {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

.nav-element-2 {
    background-color: #14213d;
    color: #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
    border: none;
}

.buttonn {
    background-color: #fca311;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    color: #023047;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: cursive;
    text-align: center;
}

h1 {
    color: #fca311;
    text-align: center;
    font-family: cursive;
}

h2 {
    color: #fca311;
    text-align: center;
    font-family: cursive;
}

.dog-info-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

form {
    margin-left: 20px;
}

form h3 {
    color: #fca311;
    font-family: cursive;
}

form label {
    color: #e5e5e5;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.vertical-line {
    width: 2px;
    height: auto;
    background-color: #fca311;
    margin-left: 20px;
    margin-right: 20px;
}

.element-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
    overflow: hidden;
    max-height: 1180px;
}

.element-2.expanded {
    max-height: 2000px;
}

.dog-info {
    background-color: #fca311;
    border: 2px solid #e5e5e5;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.dog-info h3 {
    color: #e5e5e5;
}

.dog-info a {
    text-decoration: none;
}

.dog-info span {
    color: #14213d;
}

.dog-info p {
    color: #e5e5e5;
    font-weight: bolder;
}

.dog-info img {
    border: 2px solid #e5e5e5;
    width: 100%;
    height: auto;
}

.dog-info:hover {
    transform: scale(1.1);
    background-color: #fca311;
    color: #14213d;
    border: 2px solid #e5e5e5;
}

.see-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #023047;
    background-color: #fca311;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.see-more-btn:hover {
    background-color: #fca311;
}

hr {
    border: 2px solid #fca311;
    width: 100%;
}

.dog-breeding-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dog-breeding-tips1 {
    background-color: #14213d;
    border: 4px solid #e5e5e5;
    margin: 10px;
    width: 600px;
    color: #fca311;
    font-size: large;
    padding: 10px;
}

.dog-breeding-tips1:hover {
    transform: scale(1.1);
    background-color: #e5e5e5;
    color: #14213d;
    border: 2px solid #fca311;
}

.dog-breeding-tips2 {
    background-color: #14213d;
    border: 2px solid #fca311;
    color: #e5e5e5;
    margin: 10px;
    width: 300px;
    height: auto;
    padding: 10px;
    font-size: large;
}

.dog-breeding-tips2 h3 {
    color: #fca311;
    text-align: center;
    font-weight: bold
}

.dog-breeding-tips2:hover {
    transform: scale(1.1);
    background-color: #fca311;
    color: #14213d;
    border: 2px solid #e5e5e5;
}

.dog-breeding-tips2:hover h3 {
    color: #e5e5e5;
}

.dog-feed-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dog-feed-tips {
    background-color: #fca311;
    border: 2px solid #e5e5e5;
    color: #14213d;
    font-size: large;
    margin: 10px;
    width: 300px;
    height: auto;
    padding: 10px;
}

.dog-feed-tips:hover {
    transform: scale(1.1);
    background-color: #14213d;
    color: #e5e5e5;
    border: 2px solid #fca311;
}

.dog-feed-tips h3 {
    color: #e5e5e5;
    text-align: center;
    font-weight: bold
}

.dog-feed-tips:hover h3 {
    color: #fca311;
}

.dog-feed-tips span {
    color: #e5e5e5;
    font-size: larger;
}

.dog-feed-tips:hover span {
    color: #fca311;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

td {
    padding: 12px;
    text-align: left;
    border: 2px solid #fca311;
    color: #e5e5e5;
}

th {
    color: #14213d;
    background-color: #fca311;
    font-weight: bold;
}

.first {
    color: #fca311;
}

td:hover {
    background-color: #e5e5e5;
    color: #14213d;
    transform: scale(1.02);
}

.first:hover {
    background-color: #fca311;
    color: #e5e5e5;
}

.dog-food {
    display: flex;
    flex-direction: row;
    border: 2px solid #e5e5e5;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    color: #e5e5e5;
    box-shadow: 5px 5px 30px #e5e5e5;
    width: 600px;
}

.dog-food img {
    border-radius: 20px;
    width: 150px;
    height: 250px;
    margin-right: 10px;
}

.dog-food h3 {
    color: #fca311;
}

.dog-food:hover {
    background-color: #e5e5e5;
    color: #14213d;
    box-shadow: 5px 5px 30px #fca311;
    border: 2px solid #fca311;
}